.vacation-days {
  background-color: #4caf50 !important; /* Verde para días restantes de vacaciones */
  color: white !important;
  border-radius: 50%;
}

.past-days {
  background-color: #f44336 !important; /* Rojo para días pasados de vacaciones */
  color: white !important;
  border-radius: 50%;
}

.requests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.request-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.request-card h3 {
  margin-bottom: 16px;
}

.request-card p {
  margin: 4px 0;
}
/* Estilos para el estado de la solicitud */
.accepted {
  border: 2px solid green;
  background-color: #e0f7e0;
}

.rejected {
  border: 2px solid red;
  background-color: #f7d7d7;
}

.pending {
  border: 2px solid orange;
  background-color: #fff3cd;
}

/* Estilos del calendario */
.vacation-days {
  background-color: #4caf50 !important; /* Verde para días restantes de vacaciones */
  color: white !important;
  border-radius: 50%;
}

.past-days {
  background-color: #f44336 !important; /* Rojo para días pasados de vacaciones */
  color: white !important;
  border-radius: 50%;
}

/* Estilos generales */
.requests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.request-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.request-card h3 {
  margin-bottom: 16px;
}

.request-card p {
  margin: 4px 0;
}
